.plant {
    display: flex;
    flex-direction: column;

    border-radius: 10px;
    border: 2px solid #4E5925;

    background-color: #ABBF60;
}

.plant h2, .plant h1 {
    align-self: center;
}

.plant-images {
    align-self: center;
}

.plant-images img {
    border-radius: 10px;
    margin: 15px;
}

.plant-info {
    margin: 5px;
}