.plant {
    display: flex;
    flex-direction: column;

    border-radius: 10px;
    border: 2px solid #4E5925;

    background-color: #ABBF60;
}

.plant h2, .plant h1 {
    align-self: center;
    margin: 20px;
}

.plant-images {
    align-items: center;
    display: flex;
    align-self: center;
}

.plant-images button, .upload-button {
    background-color: #40312C;
    color: #F2D0A7;

    border: 1px solid #40312C;
    border-radius: 10px;

    margin: 10px;
    height: 100px;
}

.plant-images button:hover{
    border: 1px solid #F2D0A7;
}
 
.plant-info {
    margin: 5px;
}

.plant-edit {
    margin: 5px;
}

.plant-edit div {
    margin: 5px;
}

.plant-edit div input, .plant-edit div textarea {
    color: #40312C;
    background-color: #F2D0A7;
    border-style: none;

    border-radius: 10px;
    margin: 5px;
    height: 45px;
    width: 200px;
    padding-left: 10px;
}

.plant-edit div input:focus, .plant-edit div textarea:focus {
    outline: #40312C solid 2px;
}

.plant-edit div textarea[id="plant_description"] {
    height: 100px;
}

.plant-edit div input[type="submit"], .plant-edit div input[id="plant_images"], .plant-info div input[type="submit"] {
    color: #F2D0A7;
    background-color: #40312C;

    border: none;
    text-align: center;
}

.plant-edit div input[id="plant_images"] {
    padding: 2rem;
    width: auto;
}

.plant-edit input[type="file"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

.plant-info div input[type="submit"] {
    height: 45px;
    width: 200px;
    border-radius: 10px;
}

.plant-navigation {
    display: flex;
    position: sticky;
    bottom: 1px;
}

.plant-navigation div {
    background-color: #40312C;

    border: none;
    border-radius: 10px;
    text-align: center;

    padding-top: 10px;
    margin: 10px;
    width: 150px;
    height: 35px;
}

.plant-navigation div a {
    color: #F2D0A7;
    text-decoration: none;
}